* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #03a9fa;
  text-align: center;
}

.logo {
  color: '#fff';
  font-family: 'Anton';
  font-size: 40px;
}

header input {
  font-size: 20px;
  margin: 20px 0;
}

h3 {
  margin-bottom: 8px;
}

.news-item {
  padding: 20px;
  border: 1px solid #ccc;
}